@charset "EUC-KR";
body
{
	margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    height: 100%;
	font-family: 'Malgun Gothic' !important;
	overflow:auto;
}
body::-webkit-scrollbar {
  display: none;
}
.if
{
	display: block; 
	width : 100%; 
	height: 945px;
	margin : 0px;
	border-width : 0px;
	z-index:-1;
}
table {margin-left:5px;margin-top:5px;}
th { width:100px;text-align:left;}
hr { border:1px solid #888;}
button {width:150px; border:0px solid #fff; padding:10px 0px;}
.but_theme0 {background-color:#004225; color:white;}
.but_theme0:hover {background-color:#006b3c;}
.but_theme1 {background-color:#2d123a; color:white;}
.but_theme1:hover {background-color:#765784;}
.but_theme2 {background-color:#303d4b; color:white;}
.but_theme2:hover {background-color:#405165;}

.char_span {width:60px;align:left;display:inline-block;padding-left:5px;} 
.sel_tmp {background-color:#aec8ce;}
.sel_com {background-color:#d6c7c7;}
.subtitle {font-weight:bold;text-align:center;}
#toast {
    position: fixed;
    top: 20px;
    right: calc(50% - 100px);
	width:200px;
    background: #333;
    color: white;
	text-align:center;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
}
#toast.show { opacity: 1;}
